[Entry 0]
Name=Web Browser
Comment=Surf the internet
Icon=applications-internet
Exec=exo-open --launch WebBrowser
Path=/root
Terminal=false
StartupNotify=true

[Global]
MoveFirst=false
ArrowPosition=0

